{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^types$",
    "^#types/(.*)$",
    "^#hooks/(.*)$",
    "^#actions/(.*)$",
    "^#store/(.*)$",
    "^#config/(.*)$",
    "^#ui/(.*)$",
    "^#components/(.*)$",
    "^#providers/(.*)$",
    "^#api/(.*)$",
    "^#libs/(.*)$",
    "^#/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
